.container {
    font-size: var(--text-small);
    font-family: var(--font-monospace);
    margin-bottom: calc(var(--grid-gap) * 2);
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);

    > label {
        // margin-bottom: var(--grid-gap);
        // background-color: magenta;
        &[data-change="false"] {
            color: var(--accents-6);
        }
        &[data-change="true"] {
            color: currentColor;
        }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        text-align: right;
        font-family: inherit;
        font-size: inherit;
        border: none;
        outline: none;
        font-variant-numeric: tabular-nums;
    }

    input[type="range"] {
        &[data-range="typetester-controller"] {
            --track-w: 100%;
            --track-h: 0.1rem;
            --thumb-d: 1rem;
            --track-c: var(--accents-4);
            --filll-c: var(--geist-pp-color);

            --range: calc(var(--range-max) - var(--range-min));
            --ratio: calc((var(--range-val) - var(--range-min)) / var(--range));
            --sx: calc(0.5 * var(--thumb-d) + var(--ratio) * (100% - var(--thumb-d)));

            outline: none;
            cursor: pointer;
            &:disabled {
                cursor: not-allowed;
                --track-c: var(--accents-3);
                --filll-c: var(--accents-4);
            }

            @mixin track($fill: 0) {
                box-sizing: border-box;
                border: none;
                width: var(--track-w);
                height: var(--track-h);
                background: var(--track-c);
                border-radius: 0.5rem;

                @if $fill == 1 {
                    & {
                        background: linear-gradient(var(--filll-c), var(--filll-c))
                            0 /
                            var(--sx)
                            100%
                            no-repeat
                            var(--track-c);
                    }
                }
            }

            @mixin fill() {
                height: var(--track-h);
                background: var(--filll-c);
            }

            @mixin thumb() {
                box-sizing: border-box;
                border: none;
                width: calc(var(--thumb-d) * 2);
                height: var(--thumb-d);
                // border-radius: 50%;
                border-radius: 2rem;
                background: var(--filll-c);
                cursor: inherit;
            }

            &,
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
            }

            margin: 0;
            padding: 0;
            width: var(--track-w);
            height: var(--thumb-d);
            background: transparent;
            font: 1em/1 arial, sans-serif;

            &::-webkit-slider-runnable-track {
                @include track(1);
            }
            &::-moz-range-track {
                @include track;
            }
            &::-ms-track {
                @include track;
            }
            &::-moz-range-progress {
                @include fill;
            }
            &::-ms-fill-lower {
                @include fill;
            }

            &::-webkit-slider-thumb {
                margin-top: calc(0.5 * calc((var(--track-h) - var(--thumb-d))));
                @include thumb;
            }
            &::-moz-range-thumb {
                @include thumb;
            }
            &::-ms-thumb {
                margin-top: 0;
                @include thumb;
            }

            &::-ms-tooltip {
                display: none;
            }
        }
    }
}

.reset {
    background: none;
    border: none;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    outline: none;

    &:disabled {
        color: var(--accents-4);
        pointer-events: none;
        touch-action: none;
    }

    > svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}
