@font-face {
    font-family: "JetBrains Mono";
    font-display: block;
    src: url("/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 800;
}
@font-face {
    font-family: "JetBrains Mono Italic";
    font-display: block;
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 800;
}
