@import "styles/media.scss";

.container {
    @include media("screen", ">tablet") {
        width: calc(var(--aside-width) * 1);
        background-color: var(--accents-3);
        border-right: 1px solid var(--accents-4);
        border-bottom: 1px solid var(--accents-4);
        border-left: 1px solid var(--accents-4);
    }
}

.sticky {
    position: sticky;
    top: 0;
    margin-bottom: -1px;

    .config {
        padding: 1rem;
        border-bottom: 1px solid var(--accents-4);

        .input {
            font-size: var(--text-small);
            font-family: var(--font-monospace);
            color: var(--accents-6);

            &[data-change="true"] {
                color: var(--accents-12);
            }

            .section {
                display: flex;
                align-items: center;
                justify-content: space-between;
                // font-variant-numeric: diagonal-fractions;

                output {
                    font-variant-numeric: tabular-nums;
                }
            }

            input[type="range"] {
                outline: none;
                width: 100%;
                margin: 9.5px 0;
                background-color: transparent;
                appearance: none;
                -webkit-appearance: none;
                @mixin trans {
                    transition: 300ms ease;
                }

                // &:active,
                // &:focus,
                &:hover,
                &[data-change="true"] {
                    outline: none;
                    &::-webkit-slider-runnable-track,
                    &::-webkit-slider-thumb {
                        background-color: var(--geist-pp-color);
                        border-color: var(--geist-pp-color);
                    }
                }

                &::-webkit-slider-runnable-track {
                    @include trans();
                    background-color: var(--accents-4);
                    border: 0;
                    border-radius: 25px;
                    width: 100%;
                    height: 4px;
                    cursor: pointer;
                }

                &::-webkit-slider-thumb {
                    @include trans();
                    background-color: var(--accents-4);
                    margin-top: -6px;
                    width: 16px;
                    height: 16px;
                    border: 1px solid var(--accents-4);
                    border-radius: 50px;
                    cursor: pointer;
                    -webkit-appearance: none;
                }
            }
        }
    }
}
